<ion-header>
  <ion-toolbar>
    <ion-title>Domestic transfer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label position="floating">receiver name</ion-label>
      <ion-input type="email" [(ngModel)]="formData.receiverName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">receiver account number</ion-label>
      <ion-input type="text" [(ngModel)]="formData.receiverAccountNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">title</ion-label>
      <ion-input type="email" [(ngModel)]="formData.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">amount</ion-label>
      <ion-input type="email" [(ngModel)]="formData.amount"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">transfer date</ion-label>
      <ion-input type="email" [(ngModel)]="formData.date"></ion-input>
    </ion-item>

  </ion-list>
  <ion-button expand="block" (click)="submitForm()">Submit</ion-button>
</ion-content>
