<div id="signUpForm">
  <ion-list>

    <ion-item>
      <ion-input label="First name" placeholder="Jan" [(ngModel)]="signUpForm.firstName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Last name" placeholder="Kowalski" [(ngModel)]="signUpForm.lastName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Birthdate" type="date" [(ngModel)]="signUpForm.birthDate" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Birthplace" placeholder="Gdańsk" [(ngModel)]="signUpForm.birthPlace" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Address" placeholder="al. Grunwaldzka 238A" [(ngModel)]="signUpForm.address" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="PESEL" placeholder="01236549878" min="0001012341" [(ngModel)]="signUpForm.pesel" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="ID number" placeholder="ABC 112233" [(ngModel)]="signUpForm.idCardNumber" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Phone" type="number" placeholder="111222333" [(ngModel)]="signUpForm.phoneNumber" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Email" type="email" placeholder="example@example.com" [(ngModel)]="signUpForm.email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-button expand="full" (click)="submitForm()">Wyślij</ion-button>
    </ion-item>

  </ion-list>
</div>

<p>
  {{ responseData }} <br />
  {{ errorString }}
</p>
