<body>

  <header>
    <h1>Banking Dashboard</h1>
  </header>

  <nav>
    <a >Home</a>
    <a >Accounts</a>
    <a >Transactions</a>
    <a >Payments</a>
    <a href="#">Logout</a>
  </nav>

  <section>
    <h2>Welcome, {{ customer.firstName }} {{ customer.lastName }}!</h2>
    <p>Your account balance: $[Balance]</p>

    <p>
      Your customer number:
      {{ customer.customerNumber }}
    </p>

    <h3>Recent Transactions</h3>
    <ul>
      <li>Transaction 1: -$50.00</li>
      <li>Transaction 2: +$100.00</li>
      <li>Transaction 3: -$30.00</li>
    </ul>
  </section>

  <footer>
    &copy; 2024 TwójBank. All rights reserved.
  </footer>

</body>
